@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito&display=swap');

.pbirth {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #767676;
    margin-top: 40px; 
    margin-bottom: 10px;
}

#dia, #mes, #ano, #age {
    width: 105px;
}

.inputBday {
    display: inline-block;
    width: 16.7%;
    height: 40px;
    margin-bottom: 35px;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 40px 48px 0;
    padding: 0 0 0 12px;
}

.boxdia, .boxmes, .boxano, .boxage {
    display: inline-block;
    width: 25%;
}